.heading
{
    font-size: 23px;
    margin: 0;
    width: 100%;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
   background-size: cover;
}


.play_Song_Name
{
    width: 160px;
    font-size: 25px;
}

canvas
{
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}